/* linah do tempo */
body{
    background-color: #000000;

}
.parafranquia{
    margin: 0 270px;
    padding: 20px;
    /* border-radius: 20px; */
    display: flex;
    background: #ffffff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* text-shadow: -1px -1px 5px rgb(0, 0, 0); */
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif
}
main img{
    height: 400px;
    width: 50vw;
}
main p{
    font-family: Arial, Helvetica, sans-serif;
}

.texto-img {
    padding: 20px 160px;
    font-size: 20px;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.parafranquia{
  padding: 20px 160px;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}  
