body{
    margin: 0;
    padding: 0;
    background-color: black;
}
.navbar {
    display: flex;
    background-color: green;
    justify-content: space-around;
    align-items: center;
}
#logo{
    padding: 10px;
    color: white;
    height: 70px;
}
.nav-items ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;

}
.nav-items li{
    list-style: none;
}
.links{
    color: rgb(255, 255, 255);
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
    transition: 0.2s
}
.links:hover{
    transform: scale(1.2);
    color: #504f4f;
    background: white;

}
.paragrafo1{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
